[Desktop Entry]
Type=Application
Name=comexr-fan-control
Comment=Driver for fans on Clevo machines
Path=/usr/local/bin
Exec=comexr-fan-control
Terminal=false
